div.app-toolbar-content
  h1.toolbar-title SPA tsc angular
  div.toolbar-nav-container
    a.toolbar-link.md-button(ui-sref='users') Users
    a.toolbar-link.md-button(ui-sref='courses') Courses
