.md-button {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: rgba(white, .87);
  text-transform: uppercase;
  padding: 0 8px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  
  &.black {
    color: rgba(black, .87);
  }
}
