.page-container {

  .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;

    .search-form {
      margin-right: 16px;
    }
  }

  .page-content {
    margin: 24px 0;
  }
}

.margin-bottom {
  margin-bottom: 16px;
}
